{% extends 'base.html' %}
{% block content %}

  <!-- Cards documentation: https://getbootstrap.com/docs/4.2/components/card/ -->
  <div class="container">
    <div class="row">
      {% for game in games %}
          <div class="col-md-5" style="margin: 1%">
            <div class="card">
              <div class="card-body">
                    <h4 class="card-title">{{game.name}}</h4>
                    <p class="card-text">{{game.description}}</p>
                    <a href="{% url 'payment_frame' %}{{game.id}}" class="btn btn-primary">Buy for {{game.price}} € </a>
              </div>
            </div>
          </div>
      {% endfor %}
    {% for bought_game in bought_games %}
        <div class="col-md-5" style="margin: 1%">
          <div class="card">
            <div class="card-body">
                  <h4 class="card-title">{{bought_game.gameid.name}}</h4>
                  <p class="card-text">{{bought_game.gameid.description}}</p>
                  <a href="{% url 'game_play_basic' %}{{bought_game.gameid.id}}" class="btn btn-primary">Play this game </a>
            </div>
          </div>
        </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
