{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'snackbar.css' %}" type="text/css" media="screen, projection" >
  <!-- Cards documentation: https://getbootstrap.com/docs/4.2/components/card/ -->
    <div class="container-fluid">
      <div class="col-sm-12">
        <div class="col-sm-12 text-center">
        </div>
        <div class="col-sm-10 text-center">
          The current highscore is : <br> {{highscore}} <br>
          <iframe id="gameframe" class="embed-responsive-item" width="100%" height="500px" src={{link}}></iframe>
        </div>
      </div>
      <div id="snackbar">Popup message, needed for interaction response</div>
      <script src="{% static 'gameframe.js' %}">
      </script>
    </div>
  {{extras|safe}}  {# lets you add in html code #}

{% endblock %}
