{% extends 'base.html' %}
{% block content %}
  <div class="container col-md-12">
  <!-- This part shows the user their information -->
    <h2> Information </h2> <br>
     <form class="form-horizontal" role="form">
        <div class="form-group row">
           <label class="col-sm-3 control-label">Username:</label>
           <div class="col-sm-8">
             <input class="form-control" type="text" value="{{request.user.username}}" disabled>
           </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">Email:</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" value="{{request.user.email}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">Date created:</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" value="{{request.user.date_joined}}" disabled>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 control-label">Account type:</label>
          <div class="col-sm-8">
            <input class="form-control" type="text" value="{{type}}" disabled>
          </div>
        </div>
      </form>
  </div>


  <!-- This part shows the user their games -->
  <div class="container col-md-12">
      <br> <h2> Games Library </h2> <br>
      {% ifequal type "Player" %}
        {% for game in mygames %}
          <form class="form" role="form" action="{% url 'game_play_basic' %}{{game.gameid.id}}">
            <div class="form-row align-items-center">
              <label for="submit" class="control-label col-sm-3"> {{game.gameid.name}} </label>
              <input type="submit"  class="col-sm-3" value="Go to Game" />

              <label for="submit" class="control-label col-sm-3 offset-1"> My highscore: &nbsp {{game.score}} </label>
            </div>
          </form>
        {% endfor %}


        <!-- This part shows the developer the games they own -->
      {% else %}
        <p>These are yours games and their prices</p>
        {% for game in mygames %}
          <form class="form" role="form" action="{% url 'game_edit_base' %}{{game.id}}">
            <div class="form-row">
              <label class="control-label col-sm-4"> {{game.name}}</label>
              <input class="form-control col-sm-2 offset-sm-1" style="text-align: center;" type="text" value="{{game.price}} €" disabled>
              <input type="submit" class="col-sm-2 offset-sm-2" value="Edit details" />
              <a class="form-control control-label col-sm-1" style=" font-size:14px ;" href="{% url 'delete_game' %}{{game.id}}" >Delete</a>
              <p></p>
            </div>
          </form>
        {% endfor %}
        <h4>Games States </h4>
        <table>
        <tr>
            <th style="border-top:1px solid">Game Name</th>
            <th style="border-top:1px solid">number of Purchases</th>
        <tr>
        {%for gam, count in gamestats.items%}
        <tr>
          <td style="border-top:1px solid; padding:5px">{{gam.name}}</td>
          <td style="border-top:1px solid">{{count}} </td>
        </tr>
        {%endfor%}
        </table><br>
        <h4>Games Purchases log</h4>
          {%for inlog in gamelog %}
            {%for log in inlog%}
            <ul>
              <li style="font-size:11px"> The user <b>"{{log.user.username}}"</b> Purchased your game "<b>{{log.game.name}}</b>" on <b>{{log.date}}</b> and paid <b>{{log.game.price}} €</b>.</li>
            </ul>
            {%endfor%}
          {%endfor%}        
      {% endifequal %}
  </div>


{% endblock %}
